<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7970639123590302"
     crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024, initial-scale=0.5, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
    <meta name="naver-site-verification" content="c1b0a71b768a10669f82da810f13bc34f3953457" />
    <meta name="google-adsense-account" content="ca-pub-7970639123590302">
    <meta name="keywords" content="피파, 피파온라인, 피파온라인4, FC온라인, 피파 전적, 피파 전적 검색, FC온라인 전적, FC온라인 전적 검색, 플레이스타일, 승률 개선, 수수료 계산기, 빠칭코, 선수 티어, 에프씨지지, fcgg, fc.gg">
    <meta name="robots" content="max-snippet:50, max-image-preview:large" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-67J7MBCLN9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-67J7MBCLN9');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KX3HQ7FD');</script>
    <!-- End Google Tag Manager -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Montserrat:wght@700&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='fcgglogo.ico') }}">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/tier_style.css">
    <!-- Open Graph Meta Tags for customizing the thumbnail -->
    <meta property="og:image" content="{{ url_for('static', filename='fcgglogo.jpg', _external=True) }}">
    <meta property="og:type" content="website">
    <title>FC.GG - 포지션별 선수 티어 제공 서비스</title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KX3HQ7FD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <!-- 공통 Header Section -->
    <header class="bg-white shadow-sm sticky-top">
        <div class="container d-flex flex-column align-items-center py-3">
            <h1 class="display-2 text-center main-title" style="font-family: 'Poppins', sans-serif;"><a class="nav-link" href="/">FC.GG</a></h1>
        </div>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link" href="/wr_imp.html">승률 개선 솔루션</a></li>
                        <li class="nav-item"><a class="nav-link" href="/player_tier.html">선수 티어</a></li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/random.html">
                                빠칭코 연습실 <span style="color: red;">new</span>
                            </a>
                        </li>    
                        <li class="nav-item"><a class="nav-link" href="/calculate.html">수수료 계산기</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- 전체 레이아웃 컨테이너 -->
    <div class="container d-flex justify-content-center my-5">
        <!-- 왼쪽 광고 -->
        <div class="left-ad d-none d-lg-block" style="margin-right: 120px; margin-top: 300px;">
            <ins class="kakao_ad_area" style="display:block;" 
                data-ad-unit="DAN-yNhcyouyq0OP25XV" 
                data-ad-width="160" 
                data-ad-height="600"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <!-- Main Content Section -->
        <main class="container my-5">
            <h1 class="text-center mb-4">내가 쓰는 선수 티어는 무엇일까?</h1>
            <h3 class="text-center mb-4">랭커 기준 선수 티어를 확인해 보세요!</h3>
            <!-- 광고 영역 -->
            <div class="container my-4 d-flex justify-content-center">
                <ins class="kakao_ad_area" style="display:none;"
                data-ad-unit = "DAN-PWbZJXHgqkT7GvAj"
                data-ad-width = "728"
                data-ad-height = "90"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
            </div>

            <!-- Position Container with Title -->
            <div class="position-container border p-4 rounded">
                <h2 class="position-title mb-3">포지션별 선수 티어</h2>
                
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Position Tabs (Buttons) -->
                    <ul class="nav nav-tabs" id="positionTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-position-options="ST,CF,LW,RW" type="button">공격수</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-position-options="CAM,CM,CDM" type="button">미드필더</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-position-options="CB,LB,RB" type="button">수비수</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-position-options="GK" type="button">골키퍼</button>
                        </li>
                    </ul>

                    <!-- Position Dropdown -->
                    <div class="dropdown-container">
                        <select id="positionDropdown" class="form-select dropdown" aria-label="Position selection">
                        </select>
                    </div>
                </div>

                <!-- 선수 검색 기능 -->
                <div class="search-container mt-3">
                    <div class="input-group">
                        <input type="text" id="playerSearchInput" class="form-control" placeholder="선수 이름을 입력하세요" style="font-size: 1.0rem;">
                        <button class="btn btn-success" id="searchPlayerButton" style="font-size: 1.0rem;">검색</button>
                    </div>
                </div>
            </div>

            <!-- 최고의 OP 선수 박스 -->
            <div id="top-player" class="top-player-box mt-4 p-4 border rounded">
                <!-- 박스 제목 -->
                <h3 class="text-center" id="top-player-title" style="font-weight: bold;">
                    <span id="position-name" style="color: #4CAF50;">ST</span> 최고 OP 선수
                </h3>
                <div class="d-flex align-items-center justify-content-between">
                    <!-- OP 아이콘과 미니페이스온을 감싸는 부분 -->
                    <div class="d-flex align-items-center">
                    </div>
                    <!-- 텍스트를 한 줄로 정렬 (크기 및 강조 추가) -->
                    <div class="d-flex justify-content-between w-100 ms-3 align-items-center">
                        <div class="tier-icon tier-0" style="min-width: 90px; min-height: 40px;">BEST OP</div>
                        <img id="top-player-image" src="" alt="미니페이스온" class="img-thumbnail" width="100">
                        <p id="top-player-season" class="text-center m-0" style="font-size: 1.2rem;"></p>
                        <p id="top-player-name" class="text-center m-0" style="font-size: 1.2rem; font-weight: bold;"></p>
                        <p id="top-player-score" class="text-center fw-bold m-0" style="font-size: 1.2rem;"></p>
                    </div>
                </div>
            </div>

            <!-- Player Tier List Section -->
            <div id="tier-list" class="mt-4">
                <!-- 열 이름을 추가 -->
                <div class="tier-header">
                    <div class="tier-column">티어</div>
                    <div class="tier-column">시즌</div>
                    <div class="tier-column">선수 이름</div>
                    <div class="tier-column">FC스코어</div>
                    <div class="tier-column">출전</div>
                </div>
            </div>
        </main>
        <!-- 오른쪽 광고 -->
        <div class="right-ad d-none d-lg-block" style="margin-left: 120px; margin-top: 300px;">
            <ins class="kakao_ad_area" style="display:block;" 
                data-ad-unit="DAN-o8lUifeFCtHAH0Gb" 
                data-ad-width="160" 
                data-ad-height="600"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
    </div>
    <!-- Footer Section -->
    <footer style="background-color: #343a40;" class="text-white py-4 mt-5">
        <div class="container">
            <div class="row">
                <!-- FC.GG 로고 중앙 정렬 -->
                <div class="col-md-12 text-center">
                    <h2>FC.GG</h2>
                </div>
            </div>
            <div class="row mt-5">
                <!-- 하단 텍스트도 중앙 정렬 -->
                <div class="col text-center">
                    <p>© FC.GG All rights reserved; FC ONLINE is a trademark of Nexon & Electronic Arts.</p>
                    <p>문의 : hsyea203@naver.com / jtk5959@naver.com</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        const playerTierData = {{ tier_forward_list | tojson }};
        
        // 포지션 버튼 클릭 이벤트 추가
        document.querySelectorAll('.nav-link[data-position-options]').forEach(button => {
            button.addEventListener('click', function() {
                // 모든 버튼에서 active 클래스 제거
                document.querySelectorAll('.nav-link[data-position-options]').forEach(btn => btn.classList.remove('active'));
                
                // 현재 클릭된 버튼에 active 클래스 추가
                this.classList.add('active');

                // 포지션 옵션 업데이트
                const positionOptions = this.getAttribute('data-position-options');
                updateDropdownOptions(positionOptions);
                updateTopPlayer(positionOptions.split(',')[0]);
            });
        });


        // 포지션 드롭다운 초기 설정
        updateDropdownOptions('ST,CF,RW,LW');
        updateTopPlayer('ST'); // 초기 포지션인 ST로 설정

        // 선수 검색 기능
        document.getElementById("searchPlayerButton").addEventListener("click", function() {
            const playerName = document.getElementById("playerSearchInput").value.trim();
            const position = document.getElementById("positionDropdown").value;
            if (playerName) {
                searchPlayerByName(playerName, position);
            }
        });

        // 엔터 키로도 검색 가능하게 설정
        document.getElementById("playerSearchInput").addEventListener("keyup", function(event) {
            if (event.key === "Enter") {
                document.getElementById("searchPlayerButton").click();
            }
        });

        // 특정 포지션 내에서 선수 이름으로 검색하는 함수
        function searchPlayerByName(name, position) {
            const tierListContainer = document.getElementById('tier-list');
            tierListContainer.innerHTML = `
                <div class="tier-header">
                    <div class="tier-column">티어</div>
                    <div class="tier-column">시즌</div>
                    <div class="tier-column">선수 이름</div>
                    <div class="tier-column">FC스코어</div>
                    <div class="tier-column">출전</div>
                </div>`; // 열 제목 유지

            const sortedTiers = ['0티어', '1티어', '2티어', '3티어', '4티어', '5티어'];
            let found = false; // 선수를 찾았는지 여부

            sortedTiers.forEach(tier => {
                if (playerTierData[position] && playerTierData[position][tier]) {
                    const players = playerTierData[position][tier];
                    players.forEach(player => {
                        if (player['선수 이름'].includes(name)) {
                            found = true;
                            const tierItem = document.createElement('div');
                            tierItem.classList.add('tier-item', `tier-${tier.charAt(0)}`); 

                            const tierIcon = document.createElement('div');
                            tierIcon.classList.add('tier-icon');
                            tierIcon.innerText = tier.charAt(0) === '0' ? 'OP' : `${tier.charAt(0)}티어`;

                            const playerDetails = `
                                <div class="tier-column">${player['시즌']}</div>
                                <div class="tier-column" style="display: flex; align-items: center; justify-content: center;">
                                    <img src="${player['미니페이스온']}" alt="미니페이스온" class="img-thumbnail" width="60" style="margin-right: 10px;">
                                    <span style="display: flex; align-items: center; justify-content: center; font-size: 16px;">${player['선수 이름']}</span>
                                </div>
                                <div class="tier-column">${player['FC스코어']}</div>
                                <div class="tier-column">${player['출전']}</div>`;

                            tierItem.innerHTML = tierIcon.outerHTML + playerDetails;
                            tierListContainer.appendChild(tierItem);
                        }
                    });
                }
            });

            if (!found) {
                tierListContainer.innerHTML += '<p class="text-center mt-3" style="color: #d9534f;">해당 선수가 없습니다.</p>';
            }
        }

        function updateDropdownOptions(options) {
            const dropdown = document.getElementById('positionDropdown');
            dropdown.innerHTML = '';
            options.split(',').forEach(function(option) {
                const newOption = document.createElement('option');
                newOption.value = option;
                newOption.text = option;
                dropdown.appendChild(newOption);
            });
            updateTierList(dropdown.value);
            updateTopPlayer(dropdown.value);
        }

        document.getElementById('positionDropdown').addEventListener('change', function() {
            updateTierList(this.value);
            updateTopPlayer(this.value);
        });

        function updateTopPlayer(position) {
            const tiers = playerTierData[position];
            document.getElementById('position-name').textContent = position;

            if (tiers && tiers['0티어'] && tiers['0티어'].length > 0) {
                const topPlayer = tiers['0티어'][0];
                document.getElementById('top-player-image').src = topPlayer['미니페이스온'];
                document.getElementById('top-player-name').textContent = topPlayer['선수 이름'];
                document.getElementById('top-player-season').textContent = `${topPlayer['시즌']}`;
                document.getElementById('top-player-score').textContent = `FC스코어: ${topPlayer['FC스코어']}`;
                document.getElementById('top-player').style.display = 'block';
            } else {
                document.getElementById('top-player').style.display = 'none';
            }
        }

        function updateTierList(position) {
            const tierListContainer = document.getElementById('tier-list');
            tierListContainer.innerHTML = `
                <div class="tier-header">
                    <div class="tier-column">티어</div>
                    <div class="tier-column">시즌</div>
                    <div class="tier-column">선수 이름</div>
                    <div class="tier-column">FC스코어</div>
                    <div class="tier-column">출전</div>
                </div>`;

            const sortedTiers = ['0티어', '1티어', '2티어', '3티어', '4티어', '5티어'];
            const tiers = playerTierData[position];

            if (tiers) {
                sortedTiers.forEach(tier => {
                    if (tiers[tier]) {
                        tiers[tier].forEach(player => {
                            const tierItem = document.createElement('div');
                            tierItem.classList.add('tier-item', `tier-${tier.charAt(0)}`);
                            const tierIcon = document.createElement('div');
                            tierIcon.classList.add('tier-icon');
                            tierIcon.innerText = tier.charAt(0) === '0' ? 'OP' : `${tier.charAt(0)}티어`;
                            const playerDetails = `
                                <div class="tier-column">${player['시즌']}</div>
                                <div class="tier-column" style="display: flex; align-items: center; justify-content: center;">
                                    <img src="${player['미니페이스온']}" alt="미니페이스온" class="img-thumbnail" width="60" style="margin-right: 10px;">
                                    <span style="display: flex; align-items: center; justify-content: center; font-size: 16px;">${player['선수 이름']}</span>
                                </div>
                                <div class="tier-column">${player['FC스코어']}</div>
                                <div class="tier-column">${player['출전']}</div>`;
                            tierItem.innerHTML = tierIcon.outerHTML + playerDetails;
                            tierListContainer.appendChild(tierItem);
                        });
                    }
                });
            } else {
                tierListContainer.innerText = '해당 포지션에 대한 티어 정보가 없습니다.';
            }
        }
    </script>
</body>
</html>
