<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, maximum-scale=1, width=device-width, shrink-to-fit=no, viewport-fit=cover">
    <meta name="naver-site-verification" content="c1b0a71b768a10669f82da810f13bc34f3953457" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-67J7MBCLN9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-67J7MBCLN9');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KX3HQ7FD');</script>
    <!-- End Google Tag Manager -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='FCGGlogo.PNG') }}" type="image/png">
    <title>FC.GG - 승률 개선 서비스 검색</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/wr_style.css">
    <style>
        /* 로딩 애니메이션 스타일 */
        .loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            display: none;
        }
        .spinner-border {
            width: 3rem;
            height: 3rem;
        }
    </style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KX3HQ7FD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- 로딩창 -->
    <div class="loading-overlay" id="loading-overlay">
        <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <!-- Header Section -->
    <header class="bg-white shadow-sm sticky-top">
        <div class="container d-flex flex-column align-items-center py-3">
            <!-- Title -->
            <h1 class="display-2 text-center main-title" style="font-family: 'Poppins', sans-serif;"><a class="nav-link" href="/">FC.GG</a></h1>
            <!-- <h5 class="text-center mb-4 main-title">승률 개선 솔루션</h5> -->
            <!-- Menu Toggle Button (Visible on Mobile) -->
        </div>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link" href="/wr_imp.html">승률 개선 솔루션</a></li>
                        <li class="nav-item"><a class="nav-link" href="/player_tier.html">선수 티어</a></li>
                        <li class="nav-item"><a class="nav-link" href="/calculate.html">수수료 계산기</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container my-5 custom-container">
        <!-- Header -->
        <h1 class="text-center mb-4">어떻게 하면 더 이길 수 있을까?</h1>
        <h3 class="text-center mb-4">승률 개선 솔루션을 경험해 보세요!</h3>
        <!-- Search Input Section -->
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 d-flex justify-content-center">
                <!-- Search Input and Button -->
                <div class="input-group mb-3">
                    <input type="text" id="character_name" class="form-control rounded-start-pill" placeholder="닉네임을 입력하세요." style="border-top-right-radius: 0; border-bottom-right-radius: 0; height: 44px; font-size: 1.0rem;">
                    <button class="btn btn-success rounded-end-pill" id="search_button" style="border-top-left-radius: 0; border-bottom-left-radius: 0; height: 44px; font-size: 1.0rem;">검색</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <footer style="background-color: #343a40;" class="text-white py-4 mt-5">
        <div class="container">
            <div class="row">
                <!-- FC.GG 로고 중앙 정렬 -->
                <div class="col-md-12 text-center">
                    <h2>FC.GG</h2>
                </div>
            </div>
            <div class="row mt-5">
                <!-- 하단 텍스트도 중앙 정렬 -->
                <div class="col text-center">
                    <p>© FC.GG All rights reserved; FC ONLINE is a trademark of Nexon & Electronic Arts.</p>
                    <p>문의 : hsyea203@naver.com / jtk5959@naver.com</p>
                </div>
            </div>
        </div>
    </footer> 

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // 검색 버튼 클릭 이벤트
        document.getElementById("search_button").addEventListener("click", function() {
            var characterName = document.getElementById("character_name").value;
            if (characterName.trim() !== "") {
                showLoading(); // 로딩창 표시
                setTimeout(function() {
                    window.location.href = "/wr_result.html?character_name=" + characterName;
                }, 1000); // 1초 후에 페이지 이동
            }
        });

        document.getElementById("character_name").addEventListener("keyup", function(event) {
            if (event.key === "Enter") {  // 엔터 키를 감지
                document.getElementById("search_button").click();  // 검색 버튼 클릭 이벤트 트리거
            }
        });

        // 로딩창 보이기 함수
        function showLoading() {
            document.getElementById("loading-overlay").style.display = "flex";
        }
    </script>
</body>
</html>
